1.  Explain with an example each when to use a for loop and a while loop

while loop --
when we don't how many time we need to execute a condtion we use while loop WE use while loop untill condition becomes false and after that we exit from loop


for loop --
when we know how many time we need to iterate then we use for loop

In [2]:
#example
i =0
while i <10:
    i +=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#example
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for 
and while loop

In [11]:

sum =0
pro=1
for i in range(1,11):
    sum =sum+i
    pro=pro*i
    
print("sum of 10 natural numbers:",sum)  
print("porduct of 10 natural numbers:",pro)

sum of 10 natural numbers: 55
porduct of 10 natural numbers: 3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will 
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input

Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
310, the total electricity bill should be 2250.

In [30]:
unit = int(input("Enter the unit of electricity consume in month "))
if unit <= 100:
    bill =  unit * 4.5
elif unit <= 200:
    bill = 100 * 4.5 + (unit - 100)* 6
elif unit <=300 :
    bill = 100 * 4.5 + 100 * 6 + (unit- 200) * 10
else:
    bill = 100*4.5 + 100 *6 + 100 *10+(unit- 300)*20
print("Electricity bill: ",bill)

Enter the unit of electricity consume in month 310
Electricity bill:  2250.0

Q4. Create 
a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list.

In [61]:

l1=[]
for i in range(1,101):
    cube = i **3 
    if cube %4 ==0 or cube %5 ==0:
        l1.append(cube)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:

l1=[]
i=1
while i <=100:
    cube = i **3 
    if cube %4 ==0 or cube %5 ==0:
        l1.append(cube)
    i+=1    
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

 ques 5
 Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist

In [24]:
str = "I want to become a data scientist"
vowels ="AEIOUaeiou"
i=0   #count
for char in str :
    if char in vowels:
        i=i+1
print(i)

12